/* 
0 - 600px Phone
600px - 900px Tablet Portrait Mode
900px - 1200px Tablet Landscape Mode
1200px - 1800px Normal Styles Apply
1800px + Big Screen Desktop

$breakpoint argument choices:
-phone
-tablet-portrait
-tablet-landscape
-big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px

*/
@keyframes moveInTop {
  0% {
    opacity: .5;
    transform: translateY(-18rem); }
  60% {
    transform: translateY(0); }
  70% {
    transform: translateY(-2rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  font-family: 'Roboto', sans-serif;
  line-height: 3.5rem; }
  .heading-primary--main {
    display: block;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: .35rem;
    animation-name: moveInTop;
    animation-duration: 1s;
    animation-timing-function: ease-in; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: .25rem;
        font-size: 3rem; } }
    .heading-primary--main__name {
      color: #ffb900; }
  .heading-primary--sub {
    display: block;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: .35rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .15rem; } }

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to top, #46a4db, #063753);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3.2rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.6rem; } }

.heading-tertiary {
  font-size: 2.5rem;
  font-weight: 700;
  color: #2c87bb; }
  @media only screen and (max-width: 56.25em) {
    .heading-tertiary {
      font-size: 2.2rem; } }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 2.5rem !important; } }
  @media only screen and (max-width: 37.5em) {
    .u-margin-bottom-medium {
      margin-bottom: 1.5rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 6rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 4rem !important; } }
  @media only screen and (max-width: 37.5em) {
    .u-margin-bottom-big {
      margin-bottom: 3rem !important; } }

.section-padding-small {
  padding: 2rem 0 4rem 0 !important; }

.format-list-no-markers {
  list-style: none !important; }

.btn, .btn:link, .btn:visited {
  border: 2px solid #ffb900;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  font-weight: 700;
  border-radius: 5rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: rgba(255, 255, 255, 0.5); }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-container {
  width: 100%; }
  @media only screen and (max-width: 56.25em) {
    .btn-container {
      text-align: center; } }

.btn-small:not(:last-child) {
  margin-right: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .btn-small:not(:last-child) {
      margin-bottom: 2rem; } }

.btn-small:link, .btn-small:visited {
  font-weight: 700;
  text-decoration: none;
  padding: .5rem 2rem;
  display: inline-block;
  border-radius: 1rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  color: #333; }
  @media only screen and (max-width: 56.25em) {
    .btn-small:link, .btn-small:visited {
      font-size: 2rem;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%; } }

.btn-small:hover {
  color: #fff;
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn-small:active, .btn-small:focus {
  outline: none;
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn-small--demo {
  border: 2px solid #40bf28; }
  .btn-small--demo:hover, .btn-small--demo:focus {
    background-color: #40bf28; }

.btn-small--mockup {
  border: 2px solid #14529e; }
  .btn-small--mockup:hover, .btn-small--mockup:focus {
    background-color: #14529e; }

.btn-small--github {
  border: 2px solid #24292e; }
  .btn-small--github:hover, .btn-small--github:focus {
    background-color: #24292e; }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  @media only screen and (max-width: 56.25em) {
    .feature-box {
      padding: 2rem; } }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }
  .feature-box__img {
    width: 100%; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  color: inherit;
  font-family: inherit;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-bottom: 3px solid transparent;
  width: 60%;
  display: block;
  transition: all .3s; }
  @media only screen and (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #2c87bb; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__textarea {
  color: inherit;
  font-family: inherit;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
  transition: all .3s; }
  .form__textarea:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #2c87bb; }
  .form__textarea:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form__textarea::-webkit-input-placeholder {
    color: #999; }

.form__textarea:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4em;
  color: #f7f7f7; }
  .footer__copyright {
    text-align: center; }
  .footer__list {
    text-align: center; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    text-decoration: none;
    display: inline-block;
    font-size: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__link:link, .footer__link:visited {
        font-size: 5rem; } }
  .footer__link--linkedin:hover, .footer__link--linkedin:active, .footer__link--linkedin:focus {
    outline: none;
    color: #0073b1;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0; }
  .footer__link--github:hover, .footer__link--github:active, .footer__link--github:focus {
    outline: none;
    color: #24292e;
    background-color: #f7f7f7; }

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(70, 164, 219, 0.8), rgba(6, 55, 83, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  background-color: #f7f7f7; }

.section-skills {
  background: linear-gradient(rgba(70, 164, 219, 0.2), rgba(44, 135, 187, 0.6), rgba(70, 164, 219, 0.6)); }

.section-personal-projects {
  background-image: linear-gradient(to right bottom, rgba(247, 247, 247, 0.8), rgba(238, 238, 238, 0.8));
  background-size: cover; }

.section-contact {
  background: linear-gradient(rgba(70, 164, 219, 0.2), rgba(44, 135, 187, 0.8)); }

.contact {
  background: linear-gradient(rgba(6, 55, 83, 0.8), rgba(44, 135, 187, 0.8));
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  width: 50%;
  margin: 0 auto;
  padding: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .contact {
      width: 100%; } }
