@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

// Media Query Manager
/* 
0 - 600px Phone
600px - 900px Tablet Portrait Mode
900px - 1200px Tablet Landscape Mode
1200px - 1800px Normal Styles Apply
1800px + Big Screen Desktop

$breakpoint argument choices:
-phone
-tablet-portrait
-tablet-landscape
-big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px

*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };    // 600px
    }
    @if $breakpoint == tablet-portrait {
        @media only screen and (max-width: 56.25em) { @content };     // 900px
    }
    @if $breakpoint == tablet-landscape {
        @media only screen and (max-width: 75em) { @content };    // 1200px   
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    // 1800px  
    }            
}