.btn {
    &,
    &:link,
    &:visited {
        background-color: transparent;
        border: 2px solid $color-secondary-light;
        color: $color-secondary-light;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        font-weight: 700;
        border-radius: 5rem;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;
    }
    
    &:hover,
    &:focus {
        background-color: $color-secondary-light;
        color: $color-grey-dark-3;
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);     
    }
    
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);     
    }
    
    &--animated {
        animation: fadeIn 3s;
    }    
}

.btn-container {
    width: 100%;

    @include respond(tablet-portrait) {
       text-align: center;
    }
}

.btn-small {

    &:not(:last-child) {
        margin-right: 2rem;

        @include respond(tablet-portrait) {
            margin-bottom: 2rem;
        }
    }

    &:link,
    &:visited {
        font-weight: 700;
        text-decoration: none;
        padding: .5rem 2rem;
        display: inline-block;
        border-radius: 1rem;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;
        color: $color-grey-dark-3;

        @include respond(tablet-portrait) {
            font-size: 2rem;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }          
    }
    
    &:hover {
        color: $color-white;
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);  
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);    
    }

    &--demo {
        border: 2px solid $color-demo-green; 

        &:hover,
        &:focus {
            background-color: $color-demo-green;
        }
    }

    &--mockup {
        border: 2px solid $color-mockup-blue;

        &:hover,
        &:focus {
            background-color: $color-mockup-blue;
        }        
    }    

    &--github {
        border: 2px solid $color-github-black;

        &:hover,
        &:focus {
            background-color: $color-github-black;
        }        
    }

}