.section-about {
    background-color: $color-grey-light-1;
}

.section-personal-projects {
    background-image: linear-gradient(
        to right bottom,
         rgba($color-grey-light-1, 0.8),
         rgba($color-grey-light-2, 0.8)
    );  
    background-size: cover;   
}

.section-contact {
    background: linear-gradient(
         rgba($color-primary-light, 0.2),
         rgba($color-primary, 0.8)
    );    
}

.contact {
    background: linear-gradient(
         rgba($color-primary-dark, 0.8),
         rgba($color-primary, 0.8)
    );    
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    width: 50%;
    margin: 0 auto;
    padding: 3rem;

    @include respond(tablet-portrait) {
        width: 100%;
    }
}